.profile {
  max-width: 410px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 74px 0 70px;
  margin: 0 auto;
}

.profile__heading {
  margin: 0 0 123px;
  font-size: 24px;
  font-weight: 500;
}

.profile__columns {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 17px;
  margin-bottom: 220px;
}

.profile__rows {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #424242;
}

.profile__rows:last-of-type {
  border: none;
}

.profile__info {
  margin: 0;
  padding-bottom: 17px;
  font-size: 11px;
  font-weight: 400;
}

.profile__form {
  display: flex;
  flex-direction: column;
  max-width: 410px;
  width: 100%;
}

.profile__label {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: ".profile__title .profile__input"
  ".profile__message-container .";
  margin-bottom: 17px;
  border-bottom: 1px solid #424242;
}

.profile__label:last-of-type {
  margin-bottom: 220px;
  border-bottom: none;
}

.profile__title {
  margin: 0;
  font-size: 11px;
  font-weight: 500;
}

.profile__input {
  border: none;
  background-color: transparent;
  color: #FFFFFF;
  font-size: 11px;
  font-weight: 400;
  text-align: end;
}

.profile__input_error {
  color: #EE3465;
}

.profile__message-container {
  height: 35px;
}

.profile__error-text {
  color: #EE3465;
  font-size: 10px;
  font-weight: 400;
  margin-top: 10px;
}

.profile__error-text_about-request {
  text-align: center;
  margin-bottom: 20px;
}

.profile__error-text_about-request-success {
  color: #2BE080;
}

.profile__edit-button {
  padding: 0;
  margin: 0 0 16px;
  border: none;
  background-color: transparent;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 13px;
  font-weight: 400;
  transition: opacity 0.3s ease-in-out;
}

.profile__edit-button:hover {
  opacity: 0.7;
}

.profile__submit-button {
  padding: 13px 0 15px;
  width: 100%;
  border: none;
  border-radius: 3px;
  background-color: #4285F4;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 500;
  transition: opacity 0.3s ease-in-out;
}

.profile__submit-button:hover {
  opacity: 0.8;
}

.profile__submit-button_disabled {
  cursor: default;
  background-color: #F8F8F8;
  color: #C2C2C2;
  pointer-events: none;
}

.profile__signout-link {
  margin: 0;
  font-size: 13px;
  font-weight: 500;
  color: #EE3465;
  text-decoration: none;
  transition: opacity 0.3s ease-in-out;
}

.profile__signout-link:hover {
  opacity: 0.7;
}

@media (max-width: 768px) {
  .profile {
    padding-top: 236px;
    padding-bottom: 269px;
  }

  .profile__heading {
    margin-bottom: 96px;
  }

  .profile__columns {
    margin-bottom: 210px;
  }

  .profile__label:last-of-type {
    margin-bottom: 210px;
  }
}

@media (max-width: 460px) {
  .profile {
    max-width: 260px;
    padding-top: 70px;
    padding-bottom: 40px;
  }

  .profile__heading {
    margin-bottom: 80px;
  }

  .profile__form {
    max-width: 260px;
  }

  .profile__columns {
    margin-bottom: 379px;
  }

  .profile__label {
    grid-template-columns: 130px 1fr;
  }

  .profile__label:last-of-type {
    margin-bottom: 379px;
  }
}
